:root {
    --cornflower-blue: #6185f8;
    --light-cornflower-blue: #84b4fc;
    --saddle-brown: #954b0c;
    --jambalaya: #684632;
    --green: #138200;
    --tulip-tree: #eeaf36;
    --kimberly: #645f89;
    --light-kimberly: #bcc4d8;
    --lawn-green: #73f218;
    --olive: #716804;
    --dark-green: #043717;
    --harley-davidson-orange: #b72504;
}
